

.project {
    margin-bottom: 20px;
}

.project h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.project p {
    color: #555;
}

.project a {
    color: #023252;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
}

.project a:hover {
    text-decoration: underline;
}


body, h1, h2, h3, p, ul, li, marquee {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333; 
    background-image: url('images\ \(1\).jpeg');
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
}


.marquee {
    background-color: #ffffff;
    color: #1b0094;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.description {
    text-align: center;
    padding: 20px;
}

.description p {
    font-size: 18px;
}


.big-image {
    text-align: center;
    padding: 20px;
}

.big-image img {
    max-width: 100%;
    height: auto;
}

.image-gallery {
    text-align: center;
    padding: 20px;
}

.image-gallery a {
    background-color: #2400f0; 
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

footer {
    background-color: #03a118; 
    color: white;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 1rem;
}


.text-2xl {
    font-size: 1.5rem; 
    font-weight: bold; 
}


.text-gray-300 {
    color: #ccc; 
    margin-bottom: 0.5rem; 
}


.text-white {
    color: white;
    text-decoration: none;
}


.text-white:hover {
    text-decoration: underline;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons a {
    color: white; 
    text-decoration: none;
    font-size: 1.5rem; 
    margin-right: 1rem;
}

.social-icons a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
    margin-top: 1rem; 
}

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex; 
    align-items: center; 
}


.logo img {
    max-width: 100px; 
    margin-right: 10px; 
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: rgb(248, 81, 4);
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    color: #ffffff;
}

.menu-icon {
    display: none; 
    color: white;
    cursor: pointer;
    font-size: 24px;
}

mark {
    background-color: white;
    color: black;
  }



body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


hr {
    border: none;
    border-top: 2px solid #333;
    margin: 20px 0; 
}

